@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
    --stockGreenColor: #00DE00;
    --stockRedColor: #F50A28;
}

* {
    box-sizing: border-box;
}

html, body {
 height: 100%;
 font-family: sans-serif;
 padding: 0;
 margin: 0;
}

#login-body {
    background-image: url("../img/stock_hero_mod.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-box {
    width: 50%;
    margin: 0 auto;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 1em;
}

#login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-box a {
    text-decoration: none;
    color: rgb(172, 29, 29);
}

#login-box input {
    margin-bottom: 1em;
    border-radius: 2px;
    font-size: 1.5em;
    text-align: center;
}

#login-box input[type=submit] {
    background-color: var(--stockGreenColor);
    color: var(--stockRedColor);
    cursor: pointer;
}

#login-box input[type=submit]:hover { 
    color: yellow;
}

.register-info {
    display: none;
}

.login-signup-msg {
    width: 50%;
    background-color: black;

    margin: 0 auto;
    color: red;

    text-align: center;
    padding: 1em;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 3.2em;
    background-color: black;
    padding: 0.7em;
}

.red-text {
    color: var(--stockRedColor);
}

.green-text {
    color: var(--stockGreenColor);
}

.hover-yellow:hover {
    color: yellow;
}

header span {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

header a {
    text-decoration: none;
}

.header-space {
    margin-left: 0.5em;
}

#heading-div {
    width: 69%;
    margin: auto;
}

header div {
    display: flex;
}

.header-sides {
    width: 35%;
}

.logo-name {
    width: 30%;
}

#header-left {
    justify-content: flex-start;
}

#header-left span {
    font-size: 1.1em;
    font-weight: 200;
    cursor: pointer;
}

#header-middle {
    justify-content: center;
    font-size: 2em;
}

#header-right {
    justify-content: flex-end;
}

/****************
PORTFOLIO SECTION
*****************/

#port-heading-val {
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    width: 26%;
    margin: 0.5em auto;
    padding: 0.2em;

    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

main {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main > div {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.ind-stock-cont {
    width: 11%;
    display: flex;
    height: 5.6em;
    cursor: pointer;
}

.status-color-div {
    width: 8%;
}

.status-up-color {
    background-color: green;
}

.status-down-color {
    background-color: red;
}

.status-neu-color {
    background-color: rgb(96, 95, 95);
}

.stock-info {
    width: 92%;
    background-color: rgb(150, 150, 150);

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 1px;
}

.stock-info p {
    margin-left: 0.5em;
}

.val-color-status {
    color:white;
    text-shadow: 1px 0px 1px #000;
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.val-color-status-up {
    color:green;
    text-shadow: 1px 0px 1px #000;
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.val-color-status-down {
    color:red;
    text-shadow: 1px 0px 1px #000;
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.stk-dat {
    font-size: 0.8em;
    font-weight: 200;
}

.stk-space-top {
    letter-spacing: 0.2em;
    margin-bottom: 0.6em;
}

.stk-space-bot {
    margin-top: 0.6em;
    letter-spacing: 0.1em;
}

.stk-space {
    padding-left: 0.5em;
}

/****************
STOCK BUY SECTION
*****************/

#stock-buy-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

#stock-buy-cont h2 {
    background-color: orange;
    padding: 0.5em;
    border-radius: 2px;
    margin-bottom: 0;
    letter-spacing: 0.1em
}

#stock-buy-cont h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 500;
}

#multiphase {
  background-color: #ffffff;
  margin: 0 auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

form#multiphase {
  width:30%;
}

form#multiphase > #phase2, #phase3, #show_all_data {
  display:none;
}

form>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-step-div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.buy-conf-report {
  display: flex;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input::placeholder {
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  margin-top: 0.6em;
}

button:hover {
  opacity: 0.8;
}

.cancel-btn {
  background-color: red;
}

/****************
TRANS SECTION
*****************/

#trans-container {
    margin: auto;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#trans-container p {
    border-bottom: 2px solid black;
    padding-bottom: 0.5em;
    width: 70%;
}

.trans-push-right {
    margin-right: 0.4em;
}

#logout-form > input {
    display: none;
}

#logout-form i {
    cursor: pointer;
    color: white;
    margin-left: 0.5em;
    font-size: 1.2em;
    color: orange;
}

/***********
PURCHASE MODAL
*************/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/***********************
TRANSACTIONS PAGE
***********************/

/* Trans Type Selector */
#money-trans-tab {
    display: none;
}

#trans-selector {
    width: 100%;
    margin: 1em auto;

    display: flex;
    justify-content: center;
}

#trans-selector span {
    height: 2.5em;
    width: 7em;
    margin-right: 1em;

    font-family: Raleway;
    font-weight: 800;
    color: white;
    text-shadow: 0 0 7px rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
}

#stk-btn {
    background-color: rgb(126, 125, 130);
}

#money-btn {
    background-color: rgb(25, 10, 109);
    cursor: pointer;
}

.table {
    background: #52be7f;
    margin: 1em auto;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
    
.table th, .table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
        inset 0 1px rgba(0,0,0,0.25);
}

.table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(0,0,0,0.45);
    /* color: yellow; */
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.5em;
}

.table td {
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
}

.table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.table tr:hover {
    background: rgba(0,0,0,0.1);
}